LLM_API_KEY="the_api_key_for_llm"
LLM_MODEL="claude-haiku-4-5-20251001"
AWS_REGION="us-east-1"
AWS_DYNAMODB_ENDPOINT="get_from_aws"
AWS_S3_ENDPOINT="get_from_aws"
AWS_S3_BUCKET="get_from_aws"
GITHUB_API_BASE_URL="https://api.github.com"
GITHUB_APP_ID="the_github_app_id"
GITHUB_APP_PRIVATE_KEY="base_64_encoded_version_of_the_pem"
GITHUB_WEBHOOK_SECRET="the_github_webhook_secret"
GITHUB_APP_INSTALLATION_ID="the_github_app_installation_id"